.footer-section {
    background-color: var(--background-color);
    padding: 75px 0;
    text-align: center;
    color: var(--color-white);
}

.footer-section h4 {
    text-transform: uppercase;
    font-family: var(--fonts);
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.footer-item .footerImg {
    font-size: 21px;
    height: 80px;
    width: 80px;
    background-color: var(--color-blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 2; 
}

.footer-line {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: white;
    z-index: 1;
}
.footer-item .footerImg:hover{
    background-color: var(--color-orange);
    cursor: pointer;

}
.follow-Us{
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.follow-Us h4{
    padding-bottom: 70px;
}
.icons{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-blue);
    background-color: var(--color-white);
    height: 30px;
    width: 130px;
} 
.icons .icon-image:hover{
    color: var(--color-orange);
    cursor: pointer;
}