.our-service {
    padding-top: 100px;
    background: var(--color-white);
}

.service-card h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card_box {
    background: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 350px;
    margin: 10px;
}

.card_box:hover {
    transform: translateY(-10px);
    /* background-color: var(--color-orange); */
}

.card_image img {
    max-width: 80px;
    margin-bottom: 15px;
}

.card_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_text {
    font-size: 14px;
    color: gray;
}

.card-service {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-wrap: wrap;
}

.button-class {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    /* Move the button up by a few pixels */
}

/* Responsive Styles */
@media (max-width: 992px) {
    .card-service {
        padding-top: 100px;
    }

    .button-class {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .card-service {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .card_box {
        width: 90%;
        margin: 10px 0;
    }

    .card_title {
        font-size: 18px;
    }

    .card_text {
        font-size: 13px;
    }

    .button-class {
        margin-top: 20px;
        /* Adjust this as needed */
    }
}