.hero_section{
    background: var(--background);
    padding-top: 90px;
    height: auto;
    overflow: hidden;
    width: auto;
}
.hero_section h1{
    color: var(--color-blue);
    font-weight: 700;
    font-family: var(--fonts);
}
.hero_section p{
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px ;
}
.detail_box{
    padding-left: 75px;
    padding-bottom:70px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .detail_box {
        padding: 20px; 
    }

     .detail_box h1 {
        font-size: 40px; 
    }

    .detail_box p {
        font-size: 15px; 
    } 
}
.worker{
    height: 100%;
}
.worker img{
    max-width: 100%;
    height: 800px;
    object-fit: cover; 
    bottom: 20px; 
}

@media (max-width: 1024px){
    .worker img{
        height: 450px;
    }
}
@media (max-width: 767px){
    .worker img{
        height: 800px;
    }
}
.cards_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.card_box{
    position: relative;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    bottom: 90px;
    background-color: var(--color-white);
    width: 30%;
    margin: 10px;
}   
.cards_section .row > .card_box:nth-child(2) {
    background-color: var(--color-orange); 
}
.cards_section .row > .card_box:nth-child(2) .cardImg {
    color: var(--color-white);
}
.cards_section .row > .card_box:nth-child(2) .cardTitle {
    color: var(--color-white);
}
.card_box .cardImg{
    font-size: 90px;
    color: var(--card);
}
.card_box .cardTitle{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--card);
    font-family: var(--fonts);
}
.cards_section .row > .card_box:nth-child(1):hover,
.cards_section .row > .card_box:nth-child(3):hover{
    background-color: var(--color-orange);
    color: var(--color-white);
}
.cards_section .row > .card_box:nth-child(1):hover .cardImg,
.cards_section .row > .card_box:nth-child(3):hover .cardImg,
.cards_section .row > .card_box:nth-child(1):hover .cardTitle,
.cards_section .row > .card_box:nth-child(3):hover .cardTitle {
    color: var(--color-white);
    background-color: var(--color-orange);
}

@media (max-width: 992px) {
    .cards_section {
        padding-top: 60px;
        flex-direction: column;
    }
    
    .card_box {
        bottom: 0 !important;
        margin-top: 20px;
        width: 80%;
    }
}

@media (max-width: 576px) {
    .card_box {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 375px) {
    .card_box {
        width: 95%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0 !important;
    }
    .worker img{
        height: 500px;
        margin-left: 20px;
    }
}
